@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2><br />
<img src="~/images/about.png" height="200" alt="Profile"><br /><br />
<address>
    <strong>Phone number: </strong> 48 15 19 27<br />
    <strong>Email: </strong><a href="mailto:fredrikhansen87@gmail.com">fredrikhansen87@gmail.com</a><br />
    <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/fredrik-hansen-9254a9186/" target="_blank">Profile</a><br />
</address>

<address>
    <strong>Street address:</strong><br />
    Fredrik Hansen<br />
    Trondheimsveien 170A<br />
    C/O Christian Solland<br />
    0570 Oslo<br />


</address>


