@{
    ViewData["Title"] = "Home Page";
}

<br />
<h1>Portfolio</h1><br /><br />
<ul class="list-group">
    <li class="list-group-item">
        <span class="badge js">JS</span>
        <span class="badge html">HTML5</span>
        <span class="badge css">CSS</span>
        <span class="badge nginx">NGINX</span>
        <p data-toggle="collapse" data-target="#bachelor">Bachelor project</p>

        <div id="bachelor" class="collapse">
            A web-based contrast visualizing tool for designers and developers.<br />
            The project was well-received and got an A.<br />
            The tool is pending an acceptance to an <a href="https://www.acm.org/" target="_blank">ACM conference</a>.<br /><br />
            <img src="~/images/bach.png" height="200" title="Screenshot tool" alt="Screenshot tool"><br /><br />
            <a href="http://206.189.107.37/" target="_blank">Project website</a><br />
            <a href="~/etc/poster.pdf" target="_blank">Project poster</a><br />
            <a href="https://fhansen1.github.io/colour-contrast/" target="_blank">Demo</a><br />
            <a href="https://github.com/fhansen1/colour-contrast/" target="_blank">GitHub</a><br />
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge php">PHP</span>
        <span class="badge js">JS</span>
        <span class="badge jquery">jQuery</span>
        <span class="badge wp">Wordpress</span>
        <span class="badge html">HTML5</span>
        <span class="badge css">CSS</span>
        <span class="badge nginx">NGINX</span>
        <p data-toggle="collapse" data-target="#bachweb">Bachelor project website</p>

        <div id="bachweb" class="collapse">
            The bachelor project website.<br /><br />
            <img src="~/images/bachweb.png" height="200" title="Screenshot website" alt="Screenshot website"><br /><br />
            <a href="http://206.189.107.37/" target="_blank">Website</a><br />
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge java">JAVA</span>
        <p data-toggle="collapse" data-target="#javagame">Java game proof-of-concept</p>

        <div id="javagame" class="collapse">
            A proof-of-concept platform 2d game written in Java without external libraries.<br /><br />
            <img src="~/images/java-game.png" height="200" title="Screenshot" alt="Screenshot"><br /><br />
            <a href="~/etc/xgame.jar" target="_blank">Executable JAR file</a><br />
            <a href="https://github.com/fhansen1/xgame" target="_blank">GitHub</a><br />
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge cpp">C++</span>
        <p data-toggle="collapse" data-target="#calc">C++ calculator</p>

        <div id="calc" class="collapse">
            A GUI calculator written in C++.<br /><br />
            <img src="~/images/calc.png" height="200" title="Calculator" alt="Calculator"><br /><br />
            <a href="~/etc/game.zip" target="_blank">Visual studio project</a><br />
            <a href="https://github.com/fhansen1/Calculator" target="_blank">GitHub</a><br />
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge php">PHP</span>
        <span class="badge js">JS</span>
        <span class="badge jquery">jQuery</span>
        <span class="badge wp">Wordpress</span>
        <span class="badge html">HTML5</span>
        <span class="badge css">CSS</span>
        <span class="badge nginx">NGINX</span>
        <p data-toggle="collapse" data-target="#kulby">Cultural happenings website</p>

        <div id="kulby" class="collapse">
            A demo website made for the municipality of Haugesund.<br />
            Automatically collects and sorts cultural happenings. <br />
            The site is currently under review by the muncipality for purchase,<br />
            and is therefore closed. It is only available through the link. <br /><br />
            <img src="~/images/cultural.png" height="200" title="Cultural website" alt="Cultural website"><br /><br />
            <a href="http://46.101.194.196/?cv=1" target="_blank">Website</a><br />
        </div>
    </li>
    <li class="list-group-item">
        <span class="badge c">C#</span>
        <span class="badge dotnet">ASP.NET</span>
        <span class="badge js">JS</span>
        <span class="badge jquery">jQuery</span>
        <span class="badge html">HTML5</span>
        <span class="badge css">CSS</span>
        <span class="badge nginx">NGINX</span>
        <p data-toggle="collapse" data-target="#thisweb">This website</p>

        <div id="thisweb" class="collapse">
            This website.<br /><br />

            <a href="" target="_blank">GitHub</a><br />
        </div>
    </li>
</ul><br />
<h4>Languages</h4>
<p>PHP</p>
<div class="progress">
    <div class="progress-bar php" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Java</p>
<div class="progress">
    <div class="progress-bar java" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>JavaScript</p>
<div class="progress">
    <div class="progress-bar js" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>C++</p>
<div class="progress">
    <div class="progress-bar cpp" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>C#</p>
<div class="progress">
    <div class="progress-bar c" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>jQuery</p>
<div class="progress">
    <div class="progress-bar jquery" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>CSS/HTML</p>
<div class="progress">
    <div class="progress-bar css" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>PowerShell</p>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Bash</p>
<div class="progress">
    <div class="progress-bar html" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h4>Tools</h4>
<p>Windows, Linux, Microsoft Visual Studio, NetBeans, GitHub, XAMPP, VirtualBox, Docker, FileZilla, PuTTY, Photoshop</p>
